 html,
 body {
     margin:0;
     padding:0;
     height:100%;
  }

  .navbar {
    margin-bottom: 0px;
  }

  /* Open data nav bar color scheme
  -------------------------------------------------- */

  .navbar-opendata {
    background-color: #f9f9f8;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZjZmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f7f6f0));
    background-image: -moz-linear-gradient(#ffffff, #f7f6f0);
    background-image: -webkit-linear-gradient(#ffffff, #f7f6f0);
    background-image: linear-gradient(#ffffff, #f7f6f0);
    color: #160101;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    border-bottom: 1px solid #C9C0A9;
  }
  .navbar-opendata .navbar-brand {
    color: #3c3d3f;
    min-height: 80px !important;
  }
  .navbar-opendata .navbar-brand:hover, .navbar-opendata .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar-opendata .navbar-text {
    color: #3c3d3f;
  }

  .navbar-opendata .container-fluid {
    width: 80%;
    padding-bottom: 12px;
  }

  .navbar-opendata .navbar-nav > li > a {
    color: #3c3d3f;
    line-height: 40px;
    margin-top: 40px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .navbar-opendata .navbar-nav > li > .dropdown-menu {
    background-color: #f9f9f8;
  }
  .navbar-opendata .navbar-nav > li > .dropdown-menu > li > a {
    color: #3c3d3f;
  }
  .navbar-opendata .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-opendata .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #691212;
  }
  .navbar-opendata .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #f9f9f8;
  }
  .navbar-opendata .navbar-nav > li > a {
    background-color: #C7C6C1;
    color: #fff;
    margin-right: 1px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
  .navbar-opendata .navbar-nav > .active > a,
  .navbar-opendata .navbar-nav > .active > a:focus,
  .navbar-opendata .navbar-nav > .active > a:hover,
  .navbar-opendata .navbar-nav > .open > a,
  .navbar-opendata .navbar-nav > .open > a:focus,
  .navbar-opendata .navbar-nav > .open > a:hover {
    color: #ffffff;
    background-color: #691212;
  }
  .navbar-opendata .navbar-nav > li > a:hover,
  .navbar-opendata .navbar-nav > li > a:focus {
    background: #eed767;
    color: #3c3d3f;
  }
  .navbar-opendata .navbar-toggle {
    border-color: #691212;
  }
  .navbar-opendata .navbar-toggle:hover, .navbar-opendata .navbar-toggle:focus {
    background-color: #691212;
  }
  .navbar-opendata .navbar-toggle .icon-bar {
    background-color: #3c3d3f;
  }
  .navbar-opendata .navbar-collapse,
  .navbar-opendata .navbar-form {
    border-color: #3c3d3f;
  }
  .navbar-opendata .navbar-link {
    color: #3c3d3f;
  }
  .navbar-opendata .navbar-link:hover {
    color: #ffffff;
  }

  @media (max-width: 767px) {
    .navbar-opendata .navbar-nav .open .dropdown-menu > li > a {
      color: #3c3d3f;
    }
    .navbar-opendata .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-opendata .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff;
    }
    .navbar-opendata .navbar-nav .open .dropdown-menu > .active > a, .navbar-opendata .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-opendata .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #691212;
    }
  }



  /*  Open data footer style footer styles
  -------------------------------------------------- */

  #wrapper {
     min-height:100%;
     position:relative;
  }

  .opendata-footer {
    position:relative !important;
    bottom: 0;
    margin-top: 40px;
  }
  .opendata-footer .container {
    border-top: 1px solid #C9C0A9;
    padding: 20px;
  }

